@model IEnumerable<zhsqw.Models.wy_news>

@{
    Layout = "_shop";
    ViewData["Title"] = "Index";
}
<img src="~/images/gps.gif" />
<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Shop" asp-action="Index" method="post" role="form">
    <input id="cde" />
    @Html.TextBox("abc")1:@ViewBag.abc,2:@ViewBag.abc2
    <input type="submit">
</form>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AreaID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsClass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsPic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewsTitle)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AreaID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NewsClass)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NewsContent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NewsPic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NewsTitle)
                </td>
                <td>
                    <a asp-action="Index" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </table>
