@model IEnumerable<SysNews>

@{
    Layout = "_shop";
    ViewData["Title"] = "Index";
}
<img src="~/images/gps.gif" />
<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Shop" asp-action="Index" method="post" role="form">
    @Html.TextBox("abc")1: @ViewBag.abc 8
    <input type="submit">
</form>
<form asp-controller="Shop" asp-action="Index" method="post" role="form">
    @Html.TextBox("cde")1: @ViewBag.cde 8
    <input type="submit">
</form>
@using (Html.BeginForm("", "ShopController"){)


    }
<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SQID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsClass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsPic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsTitle)
            </td>
            <td>
                <a asp-action="m1" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
    }
</table>

