<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/easyui/themes/default/easyui.css">
    <link rel="stylesheet" href="~/easyui/themes/icon.css">
    @RenderSection("styles", required: false)
    <style type="text/css">
        table{border-right:1px solid #ffcccc;border-bottom:1px solid #ffcccc;font-size:13px;margin:10px auto;}
        th{border-left:1px solid #ffcccc;border-top:1px solid #ffcccc;background:#d4ecfc;height:30px;}
        td{border-left:1px solid #ffcccc;border-top:1px solid #ffcccc;height:30px;}
        .qtitle{text-align:center;background:#f1f6ff}
        .qcontent{padding-left:3px}
        .qbuttons{text-align:center}
    </style>
    <script src="~/easyui/jquery.min.js"></script>
    <script src="~/easyui/jquery.easyui.min.js"></script>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
    <div>
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
